@import 'theme';

* {
	&, &::before, &::after {
		box-sizing: border-box;
	}
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
	background: var(--background-environment);

	font-family: "Golos Text VF", sans-serif;
	font-size: 16px;
	line-height: 1;
	color: var(--text-base);
}

.wrap {
	width: 100%;
	max-width: 48rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 1rem;
	align-items: center;
	justify-content: center;
}

.button {
	
}

@import 'widget';