:root {
  /* basic palette, don't use in interfaces directly */
  --base-100: hsl(0 0 96%);
  --base-200: hsl(0 0 89%);
  --base-300: hsl(0 0 80%);
  --base-400: hsl(0 0 71%);
  --base-50: hsl(0 0 100%);
  --base-500: hsl(0 0 59%);
  --base-600: hsl(0 0 47%);
  --base-700: hsl(0 0 35%);
  --base-75: hsl(0 0 98%);
  --base-800: hsl(0 0 23%);
  --base-850: hsl(0 0 17%);
  --base-900: hsl(0 0 11%);
  --brand-100: hsl(138 53% 90%);
  --brand-1000: hsl(154 61% 9%);
  --brand-200: hsl(140 50% 80%);
  --brand-300: hsl(145 48% 67%);
  --brand-400: hsl(147 43% 52%);
  --brand-50: hsl(142 52% 96%);
  --brand-500: hsl(149 56% 39%);
  --brand-600: hsl(150 63% 30%);
  --brand-700: hsl(152 63% 24%);
  --brand-800: hsl(153 58% 20%);
  --brand-900: hsl(152 57% 16%);
  --info-100: hsl(226 100% 87%);
  --info-1000: hsl(228 71% 12%);
  --info-200: hsl(227 100% 83%);
  --info-300: hsl(227 100% 75%);
  --info-400: hsl(227 100% 67%);
  --info-50: hsl(227 100% 92%);
  --info-500: hsl(227 100% 58%);
  --info-600: hsl(227 71% 47%);
  --info-700: hsl(227 71% 35%);
  --info-800: hsl(227 72% 24%);
  --info-900: hsl(227 71% 18%);
  --negative-100: hsl(348 100% 87%);
  --negative-1000: hsl(349 71% 12%);
  --negative-200: hsl(348 100% 83%);
  --negative-300: hsl(349 100% 75%);
  --negative-400: hsl(348 100% 67%);
  --negative-50: hsl(349 100% 92%);
  --negative-500: hsl(348 100% 58%);
  --negative-600: hsl(348 71% 47%);
  --negative-700: hsl(349 71% 35%);
  --negative-800: hsl(348 72% 24%);
  --negative-900: hsl(349 71% 18%);
  --notice-100: hsl(40 100% 89%);
  --notice-1000: hsl(40 69% 16%);
  --notice-200: hsl(39 100% 85%);
  --notice-300: hsl(39 100% 78%);
  --notice-400: hsl(39 100% 70%);
  --notice-50: hsl(39 100% 93%);
  --notice-500: hsl(39 100% 63%);
  --notice-600: hsl(39 63% 51%);
  --notice-700: hsl(39 61% 40%);
  --notice-800: hsl(40 63% 28%);
  --notice-900: hsl(39 65% 22%);
  --positive-100: hsl(129 59% 84%);
  --positive-1000: hsl(129 67% 9%);
  --positive-200: hsl(129 58% 78%);
  --positive-300: hsl(129 59% 68%);
  --positive-400: hsl(129 58% 57%);
  --positive-50: hsl(129 59% 89%);
  --positive-500: hsl(129 68% 46%);
  --positive-600: hsl(129 68% 37%);
  --positive-700: hsl(129 68% 28%);
  --positive-800: hsl(129 68% 18%);
  --positive-900: hsl(130 69% 14%);
  --static-black: var(--base-900, hsl(0 0 11%));
  --static-red: hsl(348 100% 58%);
  --static-white: var(--base-50, hsl(0 0 100%));
}

[data-theme=Light] {
  /* color */
  --background-brand: var(--brand-500, hsl(149 56% 39%));
  --background-environment: var(--base-75, hsl(0 0 98%));
  --background-overlay: hsl(0 0 11% / 0.7);
  --icon-base: var(--base-600, hsl(0 0 47%));
  --icon-brand: var(--brand-500, hsl(149 56% 39%));
  --icon-info: var(--info-600, hsl(227 71% 47%));
  --icon-negative: var(--negative-600, hsl(348 71% 47%));
  --icon-notice: var(--notice-600, hsl(39 63% 51%));
  --icon-on-brand: var(--brand-50, hsl(142 52% 96%));
  --icon-on-info: var(--info-1000, hsl(228 71% 12%));
  --icon-on-negative: var(--negative-50, hsl(349 100% 92%));
  --icon-on-notice: var(--notice-1000, hsl(40 69% 16%));
  --icon-on-positive: var(--positive-50, hsl(129 59% 89%));
  --icon-positive: var(--positive-600, hsl(129 68% 37%));
  --icon-weak: var(--base-400, hsl(0 0 71%));
  --metric-sc-base: hsl(42 75% 52%);
  --metric-sc-fade: hsl(42 75% 52% / 0.07);
  --metric-st-base: hsl(149 61% 40%);
  --metric-st-fade: hsl(149 61% 40% / 0.07);
  --metric-xp-base: hsl(267 70% 61%);
  --metric-xp-fade: hsl(267 70% 61% / 0.07);
  --static-black: var(--base-900, hsl(0 0 11%));
  --static-white: var(--base-50, hsl(0 0 100%));
  --surface-brand-background: var(--brand-500, hsl(149 56% 39%));
  --surface-brand-border: var(--brand-100, hsl(138 53% 90%));
  --surface-brand-fade: var(--brand-50, hsl(142 52% 96%));
  --surface-info-background: var(--info-600, hsl(227 71% 47%));
  --surface-info-border: var(--info-100, hsl(226 100% 87%));
  --surface-info-fade: var(--info-50, hsl(227 100% 92%));
  --surface-negative-background: var(--negative-600, hsl(348 71% 47%));
  --surface-negative-border: var(--negative-100, hsl(348 100% 87%));
  --surface-negative-fade: var(--negative-50, hsl(349 100% 92%));
  --surface-notice-background: var(--notice-500, hsl(39 100% 63%));
  --surface-notice-border: var(--notice-100, hsl(40 100% 89%));
  --surface-notice-fade: var(--notice-50, hsl(39 100% 93%));
  --surface-positive-background: var(--positive-600, hsl(129 68% 37%));
  --surface-positive-border: var(--positive-100, hsl(129 59% 84%));
  --surface-positive-fade: var(--positive-50, hsl(129 59% 89%));
  --surface-primary-background: var(--base-50, hsl(0 0 100%));
  --surface-primary-border: var(--base-200, hsl(0 0 89%));
  --surface-secondary-background: var(--base-100, hsl(0 0 96%));
  --surface-secondary-border: var(--base-200, hsl(0 0 89%));
  --text-base: var(--base-800, hsl(0 0 23%));
  --text-brand: var(--brand-500, hsl(149 56% 39%));
  --text-info: var(--info-600, hsl(227 71% 47%));
  --text-negative: var(--negative-600, hsl(348 71% 47%));
  --text-notice: var(--notice-600, hsl(39 63% 51%));
  --text-on-brand: var(--brand-50, hsl(142 52% 96%));
  --text-on-info: var(--info-50, hsl(227 100% 92%));
  --text-on-negative: var(--negative-50, hsl(349 100% 92%));
  --text-on-notice: var(--notice-1000, hsl(40 69% 16%));
  --text-on-positive: var(--positive-50, hsl(129 59% 89%));
  --text-placeholder: var(--base-400, hsl(0 0 71%));
  --text-positive: var(--positive-600, hsl(129 68% 37%));
  --text-strong: var(--base-900, hsl(0 0 11%));
  --text-weak: var(--base-600, hsl(0 0 47%));
}

[data-theme=Dark] {
  /* color */
  --background-brand: var(--brand-500, hsl(149 56% 39%));
  --background-environment: var(--base-900, hsl(0 0 11%));
  --background-overlay: hsl(0 0 11% / 0.7);
  --icon-base: var(--base-500, hsl(0 0 59%));
  --icon-brand: var(--brand-400, hsl(147 43% 52%));
  --icon-info: var(--info-400, hsl(227 100% 67%));
  --icon-negative: var(--negative-400, hsl(348 100% 67%));
  --icon-notice: var(--notice-400, hsl(39 100% 70%));
  --icon-on-brand: var(--brand-50, hsl(142 52% 96%));
  --icon-on-info: var(--info-1000, hsl(228 71% 12%));
  --icon-on-negative: var(--negative-1000, hsl(349 71% 12%));
  --icon-on-notice: var(--notice-1000, hsl(40 69% 16%));
  --icon-on-positive: var(--positive-1000, hsl(129 67% 9%));
  --icon-positive: var(--positive-400, hsl(129 58% 57%));
  --icon-weak: var(--base-700, hsl(0 0 35%));
  --metric-sc-base: hsl(42 75% 52%);
  --metric-sc-fade: hsl(42 75% 52% / 0.07);
  --metric-st-base: hsl(149 61% 40%);
  --metric-st-fade: hsl(149 61% 40% / 0.07);
  --metric-xp-base: hsl(267 70% 61%);
  --metric-xp-fade: hsl(267 70% 61% / 0.07);
  --static-black: var(--base-900, hsl(0 0 11%));
  --static-white: var(--base-50, hsl(0 0 100%));
  --surface-brand-background: var(--brand-500, hsl(149 56% 39%));
  --surface-brand-border: var(--brand-800, hsl(153 58% 20%));
  --surface-brand-fade: var(--brand-900, hsl(152 57% 16%));
  --surface-info-background: var(--info-500, hsl(227 100% 58%));
  --surface-info-border: var(--info-800, hsl(227 72% 24%));
  --surface-info-fade: var(--info-900, hsl(227 71% 18%));
  --surface-negative-background: var(--negative-600, hsl(348 71% 47%));
  --surface-negative-border: var(--negative-800, hsl(348 72% 24%));
  --surface-negative-fade: var(--negative-900, hsl(349 71% 18%));
  --surface-notice-background: var(--notice-500, hsl(39 100% 63%));
  --surface-notice-border: var(--notice-800, hsl(40 63% 28%));
  --surface-notice-fade: var(--notice-900, hsl(39 65% 22%));
  --surface-positive-background: var(--positive-500, hsl(129 68% 46%));
  --surface-positive-border: var(--positive-800, hsl(129 68% 18%));
  --surface-positive-fade: var(--positive-900, hsl(130 69% 14%));
  --surface-primary-background: var(--base-850, hsl(0 0 17%));
  --surface-primary-border: var(--base-800, hsl(0 0 23%));
  --surface-secondary-background: var(--base-900, hsl(0 0 11%));
  --surface-secondary-border: var(--base-800, hsl(0 0 23%));
  --text-base: var(--base-300, hsl(0 0 80%));
  --text-brand: var(--brand-400, hsl(147 43% 52%));
  --text-info: var(--info-300, hsl(227 100% 75%));
  --text-negative: var(--negative-400, hsl(348 100% 67%));
  --text-notice: var(--notice-400, hsl(39 100% 70%));
  --text-on-brand: var(--brand-50, hsl(142 52% 96%));
  --text-on-info: var(--info-1000, hsl(228 71% 12%));
  --text-on-negative: var(--negative-1000, hsl(349 71% 12%));
  --text-on-notice: var(--notice-1000, hsl(40 69% 16%));
  --text-on-positive: var(--positive-1000, hsl(129 67% 9%));
  --text-placeholder: var(--base-600, hsl(0 0 47%));
  --text-positive: var(--positive-400, hsl(129 58% 57%));
  --text-strong: var(--base-50, hsl(0 0 100%));
  --text-weak: var(--base-500, hsl(0 0 59%));
}

[data-theme=DarkAlpha] {
  /* color */
  --background-brand: var(--brand-500, hsl(149 56% 39%));
  --background-environment: hsl(0 0 98% / 0.1);
  --background-overlay: hsl(0 0 11% / 0.7);
  --icon-base: hsl(0 0 100% / 0.6);
  --icon-brand: var(--brand-400, hsl(147 43% 52%));
  --icon-info: var(--info-400, hsl(227 100% 67%));
  --icon-negative: var(--negative-400, hsl(348 100% 67%));
  --icon-notice: var(--notice-400, hsl(39 100% 70%));
  --icon-on-brand: var(--brand-50, hsl(142 52% 96%));
  --icon-on-info: var(--info-1000, hsl(228 71% 12%));
  --icon-on-negative: var(--negative-1000, hsl(349 71% 12%));
  --icon-on-notice: var(--notice-1000, hsl(40 69% 16%));
  --icon-on-positive: var(--positive-1000, hsl(129 67% 9%));
  --icon-positive: var(--positive-400, hsl(129 58% 57%));
  --icon-weak: hsl(0 0 100% / 0.4);
  --metric-sc-base: hsl(42 75% 52%);
  --metric-sc-fade: hsl(42 75% 52% / 0.07);
  --metric-st-base: hsl(149 61% 40%);
  --metric-st-fade: hsl(149 61% 40% / 0.07);
  --metric-xp-base: hsl(267 70% 61%);
  --metric-xp-fade: hsl(267 70% 61% / 0.07);
  --static-black: var(--base-900, hsl(0 0 11%));
  --static-white: var(--base-50, hsl(0 0 100%));
  --surface-brand-background: var(--brand-400, hsl(147 43% 52%));
  --surface-brand-border: hsl(138 53% 90% / 0.1);
  --surface-brand-fade: hsl(150 63% 30% / 0.5);
  --surface-info-background: var(--info-400, hsl(227 100% 67%));
  --surface-info-border: hsl(227 72% 24% / 0.4);
  --surface-info-fade: hsl(227 71% 18% / 0.5);
  --surface-negative-background: var(--negative-400, hsl(348 100% 67%));
  --surface-negative-border: hsl(348 72% 24% / 0.4);
  --surface-negative-fade: hsl(349 71% 18% / 0.5);
  --surface-notice-background: var(--notice-400, hsl(39 100% 70%));
  --surface-notice-border: hsl(40 63% 28% / 0.4);
  --surface-notice-fade: hsl(39 65% 22% / 0.5);
  --surface-positive-background: var(--positive-400, hsl(129 58% 57%));
  --surface-positive-border: hsl(129 68% 18% / 0.4);
  --surface-positive-fade: hsl(130 69% 14% / 0.5);
  --surface-primary-background: hsl(0 0 100% / 0.1);
  --surface-primary-border: hsl(0 0 89% / 0.1);
  --surface-secondary-background: hsl(0 0 11% / 0.2);
  --surface-secondary-border: hsl(0 0 100% / 0.1);
  --text-base: hsl(0 0 100% / 0.8);
  --text-brand: var(--brand-400, hsl(147 43% 52%));
  --text-info: var(--info-400, hsl(227 100% 67%));
  --text-negative: var(--negative-400, hsl(348 100% 67%));
  --text-notice: var(--notice-400, hsl(39 100% 70%));
  --text-on-brand: var(--brand-50, hsl(142 52% 96%));
  --text-on-info: var(--info-1000, hsl(228 71% 12%));
  --text-on-negative: var(--negative-1000, hsl(349 71% 12%));
  --text-on-notice: var(--notice-1000, hsl(40 69% 16%));
  --text-on-positive: var(--positive-1000, hsl(129 67% 9%));
  --text-placeholder: hsl(0 0 100% / 0.6);
  --text-positive: var(--positive-400, hsl(129 58% 57%));
  --text-strong: var(--base-50, hsl(0 0 100%));
  --text-weak: hsl(0 0 100% / 0.6);
}

[data-theme=Desktop] {
  /* number */
  --border-radius-none: 0rem;
  --border-width: 0.0625rem;
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1.25rem;
  --border-radius-full: 62.4375rem;
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.5rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.5rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 4.5rem;
  --spacing-9xl: 5rem;
  --text-size-xs: 0.75rem;
  --text-size-sm: 0.875rem;
  --text-height-xs: 1rem;
  --text-size-md: 1rem;
  --text-height-sm: 1.25rem;
  --text-size-lg: 1.25rem;
  --text-height-md: 1.5rem;
  --text-size-xl: 1.5rem;
  --text-height-lg: 1.75rem;
  --text-size-2xl: 1.75rem;
  --text-height-xl: 2rem;
  --text-size-3xl: 2rem;
  --text-height-2xl: 2.25rem;
  --text-height-3xl: 2.5rem;
  --text-size-4xl: 2.5rem;
  --text-height-4xl: 3rem;
  --text-size-5xl: 3rem;
  --text-height-5xl: 3.5rem;
  --text-size-6xl: 4rem;
  --text-height-6xl: 4.5rem;
}

[data-theme=Mobile] {
  /* number */
  --border-radius-none: 0rem;
  --border-width: 0.0625rem;
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1.25rem;
  --border-radius-full: 62.4375rem;
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.5rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.5rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 4.5rem;
  --spacing-9xl: 5rem;
  --text-size-xs: 0.75rem;
  --text-size-sm: 0.875rem;
  --text-height-xs: 1rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.125rem;
  --text-height-sm: 1.25rem;
  --text-size-xl: 1.25rem;
  --text-height-md: 1.5rem;
  --text-size-2xl: 1.5rem;
  --text-height-lg: 1.75rem;
  --text-height-xl: 1.75rem;
  --text-size-3xl: 1.75rem;
  --text-height-2xl: 2rem;
  --text-height-3xl: 2rem;
  --text-size-5xl: 2rem;
  --text-height-5xl: 2.5rem;
  --text-size-4xl: 2.5rem;
  --text-size-6xl: 2.5rem;
  --text-height-4xl: 3rem;
  --text-height-6xl: 3rem;
}