.jm-widget {
	--bg-size: 150%;
	--bg-position: center center;

	font-size: 1rem;
	color: var(--text-base);

	width: 100%;
	height: 35em;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	z-index: 0;

	border-radius: var(--border-radius-md, 0.75rem);
	background: url(../assets/widget-background.png) center no-repeat;
	background-size: var(--bg-size);
	background-position: var(--bg-position);
	background-color: #060127;
	box-shadow: 0 0 24px 0 rgba(8, 40, 13, 0.02), 0 24px 48px 0 rgba(8, 40, 13, 0.15);
}

.jm-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0.5em 0.5em 0;

	position: absolute;
	inset: 0 0 auto 0;
	
	&__button {
		display: inline-flex;
		padding: 0.5em;
		justify-content: center;
		align-items: center;
		gap: 0.25em;

		border-radius: var(--border-radius-sm, 0.5rem);
		border: 1px solid var(--surface-primary-border, rgba(227, 227, 227, 0.10));
		background: var(--surface-primary-background, rgba(255, 255, 255, 0.10));
		box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.10) inset;
		backdrop-filter: blur(10px);
		
		overflow: hidden;
		color: var(--text-base, rgba(255, 255, 255, 0.80));
		text-overflow: ellipsis;

		cursor: pointer;

		@include text-label-smallest;
	}
}

.jm-fg {
	position: absolute;
	inset: 0;
	pointer-events: none;
	overflow: hidden;
	mix-blend-mode: plus-lighter;

	&__rays {
		svg {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -150%;
			opacity: .2;
			
		}
		
		.star {
			&-1 {
				animation-name: star;
			}

			&-2 {
				opacity: .5;
			}

			animation-direction: alternate;
			animation-duration: 90s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;

			fill: #C223DA;
		}

		@keyframes star {
			0% { transform: rotate(180deg); }
			100% { transform: rotate(0deg); };
		}
	}

	&__glow {
		width: 10em;
		height: 4em;
		background: #C223DA;
		position: absolute;
		top: -2rem;
		left: calc(50% - 5em);
		border-radius: 999em;
		filter: blur(2.5em);
		animation: glow 1s ease-in-out infinite;
		animation-direction: alternate;

		@keyframes glow {
			0% {
				transform: scale(.9);
				opacity: .6;
			}
			100% {
				transform: scale(1);
				opacity: 1;
			}
		}
	}

	&__comets {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		transform: rotate(-60deg);
		
		svg {
			animation: comet 3s ease-in-out infinite;
			width: 10em;

			@keyframes comet {
				0% {
					transform: translateX(100%) translateY(0) scale(0);
					opacity: 1;
				}
		
				100% {
					transform: translateX(-100%) translateY(100%) scale(1);
					opacity: 0;
				}
			}
		}
	}
}

.jm-main {
	height: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 0.5em;
	}
	
	&::-webkit-scrollbar-track {
		border-radius: 999em;
		background: var(--surface-primary-background, rgba(255, 255, 255, 0.10));
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: var(--border-radius-full, 62.4375rem);
		background: var(--icon-base, rgba(255, 255, 255, 0.60));
	}
}

.jm-map {
	background: url(../assets/map-glow.png) top center no-repeat,
				linear-gradient(0deg, rgba(6, 1, 39, 0.20) 0%, rgba(46, 16, 135, 0.40) 50%, rgba(194, 35, 218, 0.40) 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
	padding: 3em;

	&__steps-group {
		display: flex;
		gap: 3em;
		align-items: center;
	}

	// & > .jm-step:nth-of-type(even) {
	// 	margin-left: -2rem;
	// }

	// & > .jm-step:nth-of-type(odd) {
	// 	margin-right: -2rem;
	// }

	// &__steps-group + .jm-step {
	// 	margin-left: 0 !important;
	// 	margin-right: 0 !important;
	// }
}

.jm-step {
	position: relative;
	
	&__cell {
		display: flex;
		width: 5.5rem;
		height: 5rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.25rem;
		flex-shrink: 0;
		aspect-ratio: 11/10;

		backdrop-filter: blur(20px);
		mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4OCIgaGVpZ2h0PSI4MCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDg4IDgwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNjEuOTcgMGMyLjg2IDAgNS41IDEuNTQ1IDYuOTE0IDQuMDQ3bDE4LjA3OCAzMmE4LjA0MiA4LjA0MiAwIDAgMSAwIDcuOTA2bC0xOC4wNzggMzJBNy45NDQgNy45NDQgMCAwIDEgNjEuOTcgODBIMjYuMDNjLTIuODYgMC01LjUtMS41NDUtNi45MTQtNC4wNDdsLTE4LjA3Ny0zMmE4LjA0MiA4LjA0MiAwIDAgMSAwLTcuOTA2bDE4LjA3Ny0zMkE3Ljk0NCA3Ljk0NCAwIDAgMSAyNi4wMyAwaDM1Ljk0WiIvPjwvc3ZnPg==");
		background-image: url(../assets/step-cell.png);
		background-color: rgba(6, 1, 39, 0.15);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		transition: all 0.1s ease-in-out;
	}

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	&__title {
		position: absolute;
		left: 50%;
		top: calc(100% + 0.25em);
		transform: translateX(-50%);

		padding: 0.25em 0.375em;
		border-radius: 0.25rem;
		background: rgba(6, 1, 39, 0.10);
		backdrop-filter: blur(8px);

		color: rgba(255, 255, 255, 0.40);
		font-size: 0.75rem;
		font-weight: 500;
		line-height: var(--text-height-xs, 1rem);
		white-space: nowrap;
		text-align: center;
	}

	&--done {
		.jm-step__icon {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW9wYWNpdHk9Ii40IiBzdHJva2Utd2lkdGg9IjEuNSIgZD0ibTYgMTIgMy45OTUgNEwxOCA4Ii8+PC9zdmc+");
		}
	}

	&--locked {
		.jm-step__icon {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii40Ij48cGF0aCBkPSJNMTIgMTcuMzVhMS42MyAxLjYzIDAgMSAwIDAtMy4yNiAxLjYzIDEuNjMgMCAwIDAgMCAzLjI2WiIvPjxwYXRoIGQ9Ik0xOC4yOCA5LjUzVjguMjhDMTguMjggNS41OCAxNy42MyAyIDEyIDJTNS43MiA1LjU4IDUuNzIgOC4yOHYxLjI1QzIuOTIgOS44OCAyIDExLjMgMiAxNC43OXYxLjg2QzIgMjAuNzUgMy4yNSAyMiA3LjM1IDIyaDkuM2M0LjEgMCA1LjM1LTEuMjUgNS4zNS01LjM1di0xLjg2YzAtMy40OS0uOTItNC45MS0zLjcyLTUuMjZaTTEyIDE4Ljc0Yy0xLjY3IDAtMy4wMi0xLjM2LTMuMDItMy4wMiAwLTEuNjcgMS4zNi0zLjAyIDMuMDItMy4wMmEzLjAzIDMuMDMgMCAwIDEgMy4wMiAzLjAyYzAgMS42Ny0xLjM1IDMuMDItMy4wMiAzLjAyWm0tNC42NS05LjNoLS4yM1Y4LjI4YzAtMi45My44My00Ljg4IDQuODgtNC44OHM0Ljg4IDEuOTUgNC44OCA0Ljg4djEuMTdINy4zNXYtLjAxWiIvPjwvZz48L3N2Zz4=");
		}

		.jm-step__cell {
			background-color: rgba(255, 255, 255, 0.10);
		}
	}

	&--available {
		cursor: pointer;
		
		&:hover .jm-step__cell {
			transform: scale(1.05);
			background-image: url(../assets/step-cell-hover.png);
		}

		&:active .jm-step__cell {
			transform: scale(0.95);
		}

		.jm-step__title {
			background: rgba(6, 1, 39, 0.20);
			color: #fff;
		}
	}
}